#station {
  border:1px solid black;
}

.passenger {
  border-radius:100%;
  color:white;
  display:inline-block;
  width:20px;
  height:20px;
  line-height:20px;
  text-align:center;
  background:red;
}

.passenger.has-ticket {
  background:blue;
}

#bus-line {
  border:1px solid green;
}

.bus {
  width:100px;
  height:30px;
  background:orange;
}
